.title {
  font-size: 300%;
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

.particle {
  font-size: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

.subtitle {
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

.author {
  font-size: 150%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

.titles {
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 15cm;
  text-align: center;
}

.edition {
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 3cm;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3cm;
  max-width: 15cm;
  text-align: center;
}

.publisher {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

hr {
  margin-left: auto;
  margin-right: auto;
  max-width: 2cm;
}

.ln {
  margin-bottom: 1cm;
  margin-top: 1cm;
}

h1, h2, h3, h4 {
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

.pg {
  color: gray;
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

.pr, ol, ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: justify;
}

.tb {
  overflow-x: auto;
  margin-top: 0.5cm;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
}

th, td {
  border: solid lightgray .02cm;
}

.mt, figure {
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

img {
  max-width: 15cm;
}

.sg {
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: right;
}

.fg1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

.fg11 {
  font-weight: bold;
}

.fg1r {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fg1b {
  border: solid black 0.02cm;
  height: 3.5cm;
  margin: 0.2cm;
  width: 3.5cm;
}

.fg2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 15cm;
  text-align: center;
}

.fg2r {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fg2b {
  border: solid black 0.02cm;
  height: 2cm;
  margin: 0.2cm;
  width: 3.5cm;
}
